.city-selected {
  display: flex;
  font-size: 34px;
  margin-bottom: 15px;
}

.cards-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  .card-container {
    cursor: pointer;
    width: 230px;
    height: 150px;
    background-color: transparent;
    border: 1px solid #0d6efd;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in height;
    overflow-y: hidden;
    margin-bottom: 20px;

    &:active {
      height: 300px;
    }

    &:hover {
      height: 300px;
      transition: 0.3s ease-out height;
    }

    .main {
      width: 100%;
      min-height: 170px;

      .date-and-time {
        font-size: 18px;
      }

      .description {
        font-size: 14px;
        display: flex;
        align-items: center;

        img {
        }
      }
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.direction-of-wind {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .compass {
    display: flex;
    position: relative;
    padding: 5px;

    .arrows-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 7px blue;
      border: 2px solid cornflowerblue;
      border-radius: 100%;
      width: 60px;
      height: 60px;

      .north-arrow {
        position: absolute;
        color: red;
        transform: translateY(-8.5px);
      }

      .center-icon {
        position: absolute;
        z-index: 2;
        font-size: 22.25px;
      }

      .south-arrow {
        height: 100%;
        position: absolute;
        color: #0d6efd;
        transform: rotate(180deg) translateY(-8.5px);
      }
    }
  }
}

.tabs-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 15px;

  .tab {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #0d6efd70;
    border-radius: 10px;
    transition: .3s all;
    border: 1px solid transparent;
    color: white;

    &.-selected {
      border-color: #ff4512;
      background-color: transparent;
      color: #333333;
      cursor: default;
    }

    &:hover:not(&.-selected) {
      background-color: transparent;
      border: 1px solid #0d6efd30;
      transition: .3s all;
      color: #333333;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}