.CitySelectPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;

  .title {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;

    h2 {
      color: #444444;
    }
  }

  .form {
    width: 70%;
    height: 200px;
    padding: 20px;
    border: 1px solid darkgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .search-button {
      margin-top: 15px;
      display: none;
    }

    .select-city {
      label {
        margin-bottom: 8px;
      }
    }

    .search-city {
      label {
        margin-bottom: 8px;
      }
    }

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      height: auto;

      .search-button {
        display: block;
      }

      .search-city {
        label {
          margin-top: 20px;
        }
      }
    }
  }
}