body {
  margin: 0;
  font-family: -apple-system, Philosopher,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: block;
  align-content: center;
}

code {
  font-family: source-code-pro, 'Philosopher',
    monospace;
}
